.mainMenu {
    background: #0099D8;
}


.pink {
    background: pink;
}

.teal {
    background: teal;
}

.lightGray {
    background: #D3D3D3;
}

.blackBorder {
    border-style: solid;
}


/* real stuff */

.topTitle {
    font-family: 'Cambria', cursive;
    text-align: center;
}

.topSubTitle {
    text-align: center;
}

.topBar {
    padding-left: 20px;
}

.bottomLinks {
    color: black;
    font-weight: bold;
}

figure img {
    max-width: 100%;
}

figcaption {
    padding-left: 20px;
}